<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no" Cache-Control="no-cache, no-store"/>

  {% block styles %}
   {{ bootstrap.load_css() }}
  <Link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  {% include 'header.html' %}
  {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{% block content %} {% endblock %}
{% block script %}
 {{ bootstrap.load_js() }}
{% endblock %}

</body>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</html>