{% extends 'base.html' %}

{% block title %} Deniz Ozkan {% endblock%}
{% block content %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home1.jpg') }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center align-items-center">
            <div class="col-md-6 col-lg-6 col-xl-6">
                <div class="site-heading">
                    <h1>Deniz Ozkan</h1>
                    <span class="subheading">Python Developer & Test Engineer & Java Developer</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 text-right">
                <img src="static/assets/img/vesikalik.jpeg" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 200px; height: 200px;">
            </div>
        </div>
    </div>
</header>



        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Hello, I'm Deniz, a seasoned software engineer with seven years of hands-on experience in the
                        field. My professional journey began as a Java Backend & Frontend developer, where I honed my
                        skills over a two-year period. Currently, I am immersed in the role of a test engineer.</p>

                    <p>My unwavering passion lies in Python development, and I am eager to pivot my career in that
                        direction. My primary focus revolves around Flask and its associated technologies. I consider
                        myself naturally inquisitive and self-driven, always seeking opportunities to further expand my
                        expertise.</p>
                    <p class="text-center">
                        <a href="{{ url_for('about') }}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> See More
                        </a>
                    </p>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <p >I hold a bachelor's degree and a master's degree in software engineering, both of which were
                        conducted entirely in English. My master's thesis delved into the realm of Semantic Analysis,
                        showcasing my expertise in this area. Additionally, I have had the privilege of having an
                        article on agile project tools published in a prestigious journal included in the SCI (Science Citation Index).
                        </p>
                    <p class="text-center">
                        <a href="{{ url_for('articles') }}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> See More
                        </a>
                    </p>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <p >If you have a job offer or any inquiries, please feel free to contact me. I will respond
                        promptly to your messages and requests. Thank you for considering me for potential opportunities.
                        </p>
                    <p class="text-center">
                        <a href="{{ url_for('contact') }}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Contact Me
                        </a>
                    </p>


                </div>
            </div>
        </div>
{% endblock %}


